gems/eu-einvoice-fr/lib/eu_einvoice/schema/** -text -whitespace
gems/eu-einvoice-validation-fr/lib/eu_einvoice/schematron/rules/** -text -whitespace
spec/validation_fr/fixtures/xml/*.xml -text -whitespace
